.notfound {
  max-width: 1280px;
  height: 100%;
  margin: 0;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.notfound__title {
  max-width: 400px;
  margin: 246px auto 5px auto;
  font-family: "Inter";
  font-size: 140px;
  line-height: 169px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.notfound__description {
  max-width: 400px;
  margin: 0 auto 184px auto;
  font-family: "Inter";
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.notfound__button {
  max-width: 42px;
  margin: 0 auto 60px auto;
  font-family: "Inter";
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #4285f4;
  text-decoration: none;
}
/* 
@media screen and (max-width: 1279px) {
    .notfound__title {
        margin: 408px auto 5px auto;
    }
    .notfound__button {
        margin: 0 auto 222px auto;
    }
  } */
@media screen and (max-width: 767px) {
  .notfound__title {
    max-width: 300px;
    margin: 329px auto 10px auto;
    font-size: 80px;
    line-height: 97px;
  }
  .notfound__button {
    margin: 0 auto 30px auto;
  }
  .notfound__description {
    max-width: 300px;
    margin: 0 auto 284px auto;
    font-size: 12px;
    line-height: 14px;
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (max-width: 500px) {
  .notfound {
    max-width: 100%;
  }
  .notfound__title {
    max-width: 300px;
    margin: 329px auto 10px auto;
    font-size: 80px;
    line-height: 97px;
  }
  .notfound__description {
    max-width: 300px;
    margin: 0 auto 284px auto;
    font-size: 12px;
    line-height: 14px;
  }
  .notfound__button {
    max-width: 36px;
    margin: 0 auto 30px auto;
    font-size: 12px;
    line-height: 14px;
  }
}
