.register {
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.register__container {
  margin: 0 auto;
  align-self: center;
  width: 396px;
}
.register__logo {
  margin: 70px auto 36px 0;
  width: 38px;
  height: 38px;
}
.register__title {
  margin: 0 0 40px 0;
  color: #ffffff;
  font-family: "Inter";
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 8px;
}
.form__label {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #8b8b8b;
}
.form__input {
  margin: 5px 0 0 0;
  background-color: #202020;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
  color: #ffffff;
}
.register__error {
  display: block;
  height: 12px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  margin-top: 6px;
}
.register__button {
  margin: 116px 0 70px 0;
  background-color: #4285f4;
  border-radius: 3px;
  font-family: "Inter";
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #ffffff;
  height: 45px;
}
.input__errors {
  border: 2px solid #ee3465;
  color: red;
}
.form__error_text {
  display: block;
  height: 12px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  margin-top: -18px;
}
.register__subtitle {
  margin: 8px auto 0 auto;
  display: flex;
  justify-content: center;
  color: #8b8b8b;
  font-family: "Inter";
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.register__link {
  margin: 0 0 0 6px;
  color: #4285f4;
  text-decoration: none;
  font-family: "Inter";
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .register__logo {
    margin: 232px auto 36px 0;
  }
  .form__error_text {
    margin-top: -20px;
  }
  .register__button {
    margin: 111px 0 0 0;
    max-width: 396px;
  }
  .register__button {
    font-weight: 400;
  }
  .register__subtitle {
    margin-top: 7px;
    margin-bottom: 235px;
  }
}
@media screen and (max-width: 500px) {
  .register__container {
    width: 260px;
  }
  .register__logo {
    margin: 56px auto 30px auto;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
  }
  .register__title {
    margin: 48px auto 80px auto;
    text-align: center;
  }
  .register__button {
    margin: 202px 0 0 0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
  }
  .register__subtitle {
    font-size: 12px;
    line-height: 15px;
  }
  .register__link {
    font-size: 12px;
    line-height: 15px;
  }
}
